header {
  width: 100%;
  text-align: center;
  margin-top: 1.5rem;
  color: white;
  padding-top: 0.4rem;
  padding-bottom: 0.9rem;
  font-family: Merriweather', serif;
}

#description {
  font-weight: lighter;
}

body {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      135deg,
      rgba(000000, 0, 0.5, 1),
      rgba(186, 0, 0, 0.5)
    ),url(https://upload.wikimedia.org/wikipedia/commons/5/5a/AUS_Pizza_Hut.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  font-size: 20px;
  font-family: Merriweather', serif;
}

.input-radio,.-input-checkbox {
  cursor: pointer;
  font-size: 25px;
}

.form-group {
  color: white;
  margin: 30px 20px 30px 20px;

}

.clue {
  font-weight: lighter;
  font-size: 15px;
}

.list {
  cursor: pointer;
  font-size: 30px;
  margin: 10px 5px 10px 0px;
}

p {
  /*to not have to much space bwtween questions and options*/
  margin-bottom: 7px;
}
/*
.label {
  padding:
  margin-bottom: 50px;
}
*/
.the-three {
  width: 630px;
  height: 38px;
  font-family: inherit;
  font-size: 20px;
  margin: 5px 0px 30px 0px;
  border-style: hidden;
  padding-left: 10px;
}

select {

  background-color: white;
}

.drop {
  width: 638px;
  height: 40px;
  font-family: inherit;
  font-size: 20px;
  color: #636060;
  border-style: hidden;
  padding-left: 10px;
  padding-right: 10px;

}

/*increase size

*/

#survey-form {
  max-width: 100%;
  border-color: black;
  border-style: hidden;
  background: linear-gradient(
    10deg,
    rgba(000000,0,0,0.9),
    rgba(000000,0,0,0.9));
  border-width: 120px;
  padding: 10px 20px 10px 20px;
  margin: 20px 600px 60px 600px;
}

#comments {
  width: 633px;
  height: 160px;
  border-style: hidden;
  font-family: inherit;
  font-size: 20px;
  resize: vertical;
  /*for changing the start of the blinkning cursor*/
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.button {
  text-align: center;
  justify-content: center;
  height: 40px;
  width: 652px;
  font-family: inherit;
  font-size: 20px;
  background-color: black;
  color: white;
  border-style: solid;
  border-color: white;
  transition-duration: 0.2s;
  cursor: pointer;
}
.button1 {
  background-color: #118866;
  border-style: none;
  color: black;
}

.button1:hover {
  background-color: black;
  color: white;
  border-style: solid;
  border-color: white;
}
